# Root
node_modules/
.env
.env.local
.env.production

# Server
server/node_modules/
server/.env

# Client
client/node_modules/
client/.env
client/.env.local
client/.env.production
client/dist/

# Misc
.DS_Store
*.log